<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Python Data Types</h1>

    <div class="main">
      <div class="info">
        <h3>Built-in Data Types</h3>
        <p>
          Variables can store data of different types, and different types can
          do different things.

          <br />
          <br />
          Python has the following data types built-in by default, in these
          categories:
        </p>
        <img src="\static\images\PyImage\dt_1.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Getting the Data Type</h3>
        <p>
          You can get the data type of any object by using the type() function:

          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\dt_2.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Setting the Data Type</h3>
        <p>In Python, the data type is set when you assign a value to a variable:


          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\dt_3.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
