<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Python If ... Else</h1>

    <div class="main">
      <div class="info">
        <h3>Python Conditions and If statements</h3>
        <p>Python supports the usual logical conditions from mathematics:
          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\if_1.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Elif</h3>
        <p>
          The elif keyword is Python's way of saying "if the previous conditions
          were not true, then try this condition".

          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\if_2.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Else</h3>
        <p>
          The else keyword catches anything which isn't caught by the preceding
          conditions.

          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\if_3.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
