<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Python Lists</h1>

    <div class="main">
      <div class="info">
        <h3>List</h3>
        <p>
          Lists are used to store multiple items in a single variable.
          <br />
          <br />Lists are created using square brackets:
        </p>
        <img src="\static\images\PyImage\li_1.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Allow Duplicates</h3>
        <p>
          Since lists are indexed, lists can have items with the same value:
          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\li_1.jpg" alt="" />
      </div>
      <div class="info">
        <h3>List Length</h3>
        <p>
          To determine how many items a list has, use the len() function:
          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\li_1.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
