<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Python Operators</h1>

    <div class="main">
      <div class="info">
        <h3></h3>
        <p>
          Operators are used to perform operations on variables and values.
          <br />
          <br />
          In the example below, we use the + operator to add together two
          values:
        </p>
        <img src="\static\images\PyImage\op_1.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Python Arithmetic Operators</h3>
        <p>
          Arithmetic operators are used with numeric values to perform common
          mathematical operations:
          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\op_2.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Python Assignment Operators</h3>
        <p>Assignment operators are used to assign values to variables:
          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\op_3.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
