<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\programming.css" />
  </head>
  <body>

    <nav class="navbar">
    <div class="navbar__container">
      <a href="{{ url_for('index') }}" id="navbar__logo">BugVidhya</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="{{ url_for('index') }}" class="navbar__links" id="home-page">Home</a>
        </li>
        <li class="navbar__item">
          <a href="{{ url_for('python') }}" class="navbar__links" id="python-page">Python</a>
        </li>
        <li class="navbar__item">
          <a href="{{ url_for('java') }}" class="navbar__links" id="java-page">Java</a>
        </li>
        <li onclick="py()"  class="navbar__btn">
          <a href="{{ url_for('editor') }}" class="button" id="playground">Playground</a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="cards-list">

      <a href="{{ url_for('dtype') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Data Types</p>
        </div>
      </div>
        </a>

        <a href="{{ url_for('op') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Operators</p>
        </div>
      </div>
        </a>

        <a href="{{ url_for('list') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Lists</p>
        </div>
      </div>
        </a>

        <a href="{{ url_for('tuple') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Tuple</p>
        </div>
      </div>
        </a>

        <a href="{{ url_for('set') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Sets</p>
        </div>
      </div>
        </a>

        <a href="{{ url_for('dict') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Dictionaries</p>
        </div>
      </div>
        </a>

        <a href="{{ url_for('conditional') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Conditionals</p>
        </div>
      </div>
        </a>
<a href="{{ url_for('variable') }}">
      <div class="card 2">
        <div class="card_title title-white">
          <p>Loops</p>
        </div>
      </div>
        </a>




    </div>
  </body>
</html>
