<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Python Tuples</h1>

    <div class="main">
      <div class="info">
        <h3>Tuple</h3>
        <p>
          Tuples are used to store multiple items in a single variable.

          <br />
          <br />A tuple is a collection which is ordered and unchangeable.
        </p>
        <img src="\static\images\PyImage\tup_1.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Allow Duplicates</h3>
        <p>
          Since tuples are indexed, they can have items with the same value:
          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\tup_2.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Tuple Length</h3>
        <p>To determine how many items a tuple has, use the len() function:


          <br />
          <br />
        </p>
        <img src="\static\images\PyImage\tup_3.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
