<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Topic Name</h1>

    <div class="main">
      <div class="info">
        <h3>Subtitle</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
          <br />
          commodi maiores velit ut odit molestiae consectetur exercitationem
          sapiente vitae!
        </p>
        <img src="\static\images\PyImage\var1.png" alt="" />
      </div>
      <div class="info">
        <h3>Subtitle</h3>
        <p>description</p>
        <img src="" alt="" />
      </div>
      <div class="info">
        <h3>Subtitle</h3>
        <p>description</p>
        <img src="" alt="" />
      </div>
    </div>
  </body>
</html>
