<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
        <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Java Classes and Objects</h1>

    <div class="main">
      <div class="info">
        <h3>Java Classes/Objects</h3>
        <p>
          Java is an object-oriented programming language. <br>
          Everything in Java is associated with classes and objects, along with its attributes and methods. For example: in real life, a car is an object. The car has attributes, such as weight and color, and methods, such as drive and brake. <br>
          A Class is like an object constructor, or a "blueprint" for creating objects.
        </p>
      </div>
      <div class="info">
        <h3>SCreate a Class</h3>
        <p>To create a class, use the keyword class: <br>
          Main.java <br>
          Create a class named "Main" with a variable x:
        </p>
        <img src="\static\images\JavaImage\class1.png" alt="" width="1200px"/>
      </div>
      <div class="info">
        <h3>Create an Object</h3>
        <p>
          In Java, an object is created from a class. We have already created the class named Main, so now we can use this to create objects. <br>
          To create an object of Main, specify the class name, followed by the object name, and use the keyword new: <br>
          Example: <br>
          Create an object called "myObj" and print the value of x:
        </p>
        <img src="\static\images\JavaImage\class2.png" alt="" width="1200px"/>
      </div>
      <div class="info">
        <h3>Multiple Objects</h3>
        <p>You can create multiple objects of one class:
          <br> Example: 
          <br> Create two objects of Main:
        </p>
        <img src="\static\images\JavaImage\class3.png" alt="" width="1200px"/>
      </div>
    </div>
  </body>
</html>
