<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Java Inheritance</h1>

    <div class="main">
      <div class="info">
        <h3>Subclass and Superclass</h3>
        <p>
          In Java, it is possible to inherit attributes and methods from one class to another. We group the "inheritance concept" into two categories: <br />
          <br />
          * subclass (child) - the class that inherits from another class <br>
          * superclass (parent) - the class being inherited from <br>
          To inherit from a class, use the extends keyword. <br>
          In the example below, the Car class (subclass) inherits the attributes and methods from the Vehicle class (superclass):

        </p>
        <img src="\static\images\JavaImage\inher1.png" alt="" width="1200px"/>
    </div>
  </body>
</html>
