<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
        <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Java Methods</h1>

    <div class="main">
      <div class="info">
        <p>A method is a block of code which only runs when it is called. <br>
          You can pass data, known as parameters, into a method. <br>
          Methods are used to perform certain actions, and they are also known as functions. <br>
          Why use methods? To reuse code: define the code once, and use it many times. <br>
        </p>
      </div>
      <div class="info">
        <h3>Create a Method</h3>
        <p>A method must be declared within a class. It is defined with the name of the method, followed by parentheses (). Java provides some pre-defined methods, such as System.out.println(), but you can also create your own methods to perform certain actions: <br>
        Example: <br>
        Create a method inside Main:
        </p>
        <img src="\static\images\JavaImage\method1.png" alt="" width="1200px"/>
      </div>
      <div class="info">
        <h3>Call a Method</h3>
        <p>
          To call a method in Java, write the method's name followed by two parentheses () and a semicolon; <br>
          In the following example, myMethod() is used to print a text (the action), when it is called: <br>
          Example: <br>
          Inside main, call the myMethod() method:
        </p>
        <img src="\static\images\JavaImage\method2.png" alt="" width="1200px"/>
        <p>
          A method can also be called multiple times: <br>
          Example
        </p>
        <img src="\static\images\JavaImage\method3.png" alt="" width="1200px"/>
      </div>
    </div>
  </body>
</html>
