<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
        <link rel="stylesheet" href="\static\css\content.css" />
  </head>
  <body>
    <h1>Method Overloading</h1>

    <div class="main">
      <div class="info">
        <p>
          With method overloading, multiple methods can have the same name with different parameters: <br>Example:
        </p>
        <img src="\static\images\JavaImage\over1.png" alt="" width="1200px"/>
        <p>
          Consider the following example, which has two methods that add numbers of different type: <br>Example:
        </p>
        <img src="\static\images\JavaImage\over2.png" alt="" width="1200px"/>
        <p>
          Instead of defining two methods that should do the same thing, it is better to overload one. <br>
          In the example below, we overload the plusMethod method to work for both int and double: <br>Example:
        </p>
        <img src="\static\images\JavaImage\over3.png" alt="" width="1200px"/>
      </div>
    </div>
  </body>
</html>
